#header, #headerTop, #headerBottom, #content, #contentTop, #mainContent, #footer {
    float: left;
    clear: both;
    width: 100%;
    min-width: 360px;
}

#logo, #headerTop, #headerBottom, #login {
    padding: 10px;
    text-align: center;
}

#login {
    float: right;
    width: 60px;
}

#logo {
    float: left;
    width: 180px;
}

#headerTop, #headerBottom {
    float: left;
    width: 100%;
}

.contentTop, .mainContent {
    padding: 10px;
}

.contentTop {
    font-weight: bold;
}

#footer {
    padding: 10px;
    text-align: center;
}

.topMenu {
    margin: 10px 10px;
    float: right !important;
}

.topMenu ul li {
    margin: 0 5px;
}

.topMenu ul li a {
    text-decoration: none;
    color: inherit;
}

.topMenu ul li:last-child { /*Login button*/
    font-weight: bold;
    cursor: pointer;
}

#hamburger {
    float: right;
    width: 30px;
    margin: 10px;
    cursor: pointer;
    display: none;
}

@media (max-width: 600px) {
    .topMenu {
        display: none;
    }

    #hamburger {
        display: inline-block;
    }

    #logo {
        width: 150px;
    }
}
