#header, #headerTop, #headerBottom, #content, #contentTop, #mainContent, #footer {
    float: left;
    clear: both;
}

#logo, #headerTop, #headerBottom, #login {
    padding: 10px;
    text-align: center;
}

#login {
    float: right;
    width: 60px;
}

#logo {
    float: left;
    width: 180px;
}

#headerTop, #headerBottom {
    float: left;
    width: 100%;
}

.contentTop, .mainContent {
    padding: 10px;
}

.contentTop {
    font-weight: bold;
}

#footer {
    padding: 10px;
    text-align: center;
}

.topMenu {
    margin: 10px 10px;
    float: right !important;
}

.topMenu ul li{
    margin: 0 5px;
}